body {
  background-image: url("../img/Taieri.png");
  background-size: cover;
}

#login-form {
  background-color: white;
  margin:15vh auto;
  width: 100%;
  max-width: 500px;
  height: 100%;
  min-height: 400px;
  border-bottom: solid 5px #00ae95;
}

/* Style the tab */
.tab {
  display: flex;
  overflow: hidden;
  background-color: white;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  margin: auto;
  width: 100%;
  border: solid 1px #ccc;
  background-color: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  text-align: center;
}
