body {
    background-color: white;
}

.navbar {
    background-color: #2d771e;
}

.nav-link {
    color: white !important;
    font-size: 18px;
}

#navbar-logo {
    height:80px;
}

@media (max-width: 990px) {
    #navbar-logo {
        display: none;
    }
  }